extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='../css/starter-template.css', rel='stylesheet')
    link(href='../css/mycss.css', rel='stylesheet')
    link(href="../css/carousel.css", rel="stylesheet")
append scripts
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/global.js')
block body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class="navbar-brand", href="#") FilmBase
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/all") List
                    li
                        a(href="/newfilm") Add film
                ul.nav.navbar-nav.navbar-right
                    -if (user){
                        li
                            a(href="#{user._json.link}")
                                img.img-circle(src="#{user._json.picture}", width="20px")
                                |  #{user._json.name}
                        li
                            a(href="/logout")
                                span.glyphicon.glyphicon-log-out
                                |  Wyloguj
                    -}   else {
                        li
                            a(href="/auth/google")
                                span.glyphicon.glyphicon-log-in
                                |  Login via google
                    -}



